<h1 align="center">Add songs to playlist</h1>

    <hr />
<div class="container-fluid">
    <div class="flexbox">
        <div id="artistBox" class="panel panel-default panel-wizard col-lg-3">
            <div class="panel-heading">
                <h4>Artist</h4>
            </div>            			
			<input class="form-control" placeholder="Filter Artists" [(ngModel)]="artistFilter">
            <div class="list-group eintraege">
                <div *ngFor="let artist of artists;">
					<div class="list-group-item" *ngIf="artist.name.indexOf(artistFilter) > -1" (click)="setArtist(artist)" >
						<span class="textfield">{{artist.name}}</span>
						<span class="pull-right">
							<button class="btn btn-xs btn-success"  (click)="addArtistToPlaylist(artist)" >
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>				
					</div>
				</div>
            </div>           
        </div>
		<div id="albumBox" class="panel panel-default panel-wizard col-lg-3">
            <div class="panel-heading">
                <h4>Album</h4>
            </div>
			<input class="form-control" placeholder="Filter Albums" [(ngModel)]="albumFilter">
            <div class="list-group eintraege">
				<div *ngFor="let album of selectedArtist?.albums;">
					<div class="list-group-item" *ngIf="album.title.indexOf(albumFilter) > -1" (click)="setAlbum(album)">
						<span class="textfield">{{album.title}}</span>
						<span class="pull-right">
							<button class="btn btn-xs btn-success" (click)="addAlbumToPlaylist(album)" >
								<span class="glyphicon glyphicon-plus" ></span>
							</button>
						</span>					
					</div>
				</div>
            </div>		
        </div>

        <div id="songBox" class="panel panel-default panel-wizard col-lg-3">
            <div class="panel-heading">
                <h4>Song</h4>
            </div>
			<input class="form-control" placeholder="Filter Sons" [(ngModel)]="songFilter">
		     <div class="list-group eintraege">
				<div *ngFor="let song of selectedAlbum?.songs;">
					<div class="list-group-item" *ngIf="song.title.indexOf(songFilter) > -1" >
						<span class="textfield">{{song.title}}</span>
						<span class="pull-right">
							<button class="btn btn-xs btn-success" (click)="addSongToPlaylist(song)" >
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</span>	
					</div>
				</div>
            </div>		
        </div>		
    </div>

	<div class="flexbox">
		<div id="playlistBox" class="panel panel-default panel-wizard col-lg-3">
			<div class="panel-heading">
				<h4>Current Playlist</h4>
			</div> 			
			<div class="list-group eintraege">
			<table class="table table-hover">
		        <thead>
		            <tr>
		                <th width="33%">Song</th>
		                <th width="33%">Artist</th>
		                <th width="33%">Album</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr *ngFor="let song of newPlayList;">
		                <td width="33%">{{song.title}}</td>
		                <td width="33%">{{song.album.artist.name}}</td>
		                <td width="33%">
		                	<span class="textfield">{{song.title}}</span>
							<span class="pull-right">
								<button class="btn btn-xs btn-danger" (click)="removeSongFromPlaylist(song)">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
							</span>	
						</td>
		            </tr>		           
		        </tbody>
		    </table>
			</div>           
		</div>
	</div>
</div>
